<% include ./partials/header %> 
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="paragraph">
 		<h1>Contact Us</h1>
 		<p>Feel free to send us an email at onemoretoday@hotmail.com, we will contact you as soon as we can.</p>
    </div>

<% include ./partials/footer %>