<% include ./partials/header %> 
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="paragraph">
 		<h1>How Does It Work</h1>
 		<h4>Overview</h4>
 		<p>First register an account at onemore.today. You need to know the email address of your purchaing agent who has already registered here <br>and put it in your profile page, otherwise your quote will go to 
 		bidding area, which might take longer to get response from different purchasing agents.</p>
 		<p>After registration, download and install the <a href="#">Chrome Extension</a>. You need to login the first time you activate it.</p>
 		<p>When you find one item online* that you want to quote, simply click the extension icon shown on the top right corner of your browser, a quote (name <br>of the item, price shown on the website, link to the item
 		and a screenshot of current webpage) will be created here at onemore.today. Your purchasing <br>agent will be notified as well.</p>
 		<h4>If you are a purchasing agent</h4>
 		<p>You will be charged based on how many customers that use onemore.today to send you quotes.</p>
		<h4>If you are a customer seeking for quote</h4>
		<p>You can use the service provided by onemore.today for free. Your quote will be limited to one purchasing agent. </p>
		<p>You can upgrade to enjoy the premium service ($1 per month) so that your quote can be sent up to 5 purchasing agents with one click**.</p>
		<br>
		<br>
		<br>
		<p>*  See the list of <a href="#">supported websites</a>. If the website is not supported, only the link and screenshot will be shown in the quote.</p>
	    <p>** You need to put the emails (registered with us) of your purchasing agents into your profile at onemore.today.</p>
	    <a href="/" class="btn btn-lg btn-info">Go Back</a>
	    <a href="/quotes" class="btn btn-lg btn-success">View All Quotes</a>
    </div>

<% include ./partials/footer %>