<!DOCTYPE html>
<html>
    <head>
        <title>OneMore.Today</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img alt="OneMore.Today" src="images/logo.png" class="img-responsive"></a>
            </div>
            <div class="collapse navbar-collapse">
                <!--TODO: make the search work, get rid of the "Submit" button, enter will trigger the search. maybe bootstrap already have a solution. For now always show all the quotes.-->
                <form class="navbar-form navbar-right" action="/quotes" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li><a href="/profile"><%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="landing">
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
        <div id="landing-header">
     		<h1>OneMore.Today</h1>
     		<h4>One click away between you and your favourite purchasing agents</h4>
    		<a href="/quotes" class="btn btn-lg btn-success">View All Quotes</a>
    		<a href="/intro" class="btn btn-lg btn-info">How Does It Work</a>
        </div>
        
        <ul class="slideshow">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>

<% include ./partials/footer %>