<% include ./partials/header %> 

<form action="/login" method="POST">
    <label for="username">Username:</label><br>
    <input type="email" name="username" placeholder="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Login">
</form>
<br>
<br>
<form action="/password" method="GET">
    <input type="submit" value="Forget Password?">
</form>

<% include ./partials/footer %> 
