<% include ./partials/header %> 

<form action="/password" method="post">
    <input type="email" name="username" placeholder="Your email">
    <input type="submit" value="Send Link">
</form>
<% include ./partials/footer %> 
