<% include ./partials/header %> 

    <!--<form action="/profile" method="post" ng-app>-->
    <!--  <input type="checkbox" name="userType" ng-true-value="customer" ng-false-value="agent" ng-model="check">I want to buy stuff <br>-->
    <!--  <input type="checkbox" name="userType" ng-true-value="agent" ng-false-value="customer" ng-model="check">I am a purchasing agent <br>-->
      <!--paid user can put up to 5 emails as their purchasing agents, separated with ";"-->
    <!--  <div ng-show="check === 'customer'">-->
    <!--        <input type="email" name="agentUsername" placeholder="Your agent's email">-->
    <!--        <input type="text" name="address" placeholder="Your address (optional)">-->
    <!--  </div>-->
    
    <form action="/profile" method="post">
        <label>I am a:</label><br>
        <%
            if(currentUser.userType === "Customer") {
        %>
        <input type="radio" name="userType" value="Customer" checked="checked">Customer<br>
        <input type="radio" name="userType" value="Agent">Purchasing Agent<br>
        <%
        }
            else {
        %>
        <input type="radio" name="userType" value="Customer">Customer<br>
        <input type="radio" name="userType" value="Agent" checked="checked">Purchasing Agent<br>
        <%
        }
        %>
              <!--paid user can put up to 5 emails as their purchasing agents, separated with ";"-->
              <!--TODO: show the following when Customer is checked-->
        <label for="agentUsername">My purchasing agent's email:</label><br>
        <input type="email" name="agentUsername" placeholder="Your agent's email" value=<%=currentUser.agent%>><br>
        <label for="address">My address (optional):</label><br>
        <input type="text" name="address" placeholder="Your address" value=<%=currentUser.address%>><br>
        <label for="password">My New Password:</label><br>
        <input type="password" name="password" placeholder="New Password"><br>
        <input type="submit" value="Save">
        <input type="submit" value="Upgrade">
    </form>
<% include ./partials/footer %> 
