<% include ./partials/header %> 

<form action="/register" method="post">
    <label for="username">Username:</label><br>
    <input type="email" name="username" placeholder="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="Sign Up">
</form>
<% include ./partials/footer %> 
