.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.navbar-default {
    height: 3%;
}

form {
    width: 300px;
    margin: 0 auto;
}

input[type=email] input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=email] input[type=password]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

#delete-form {
    display: inline;
}

p {
    position: relative;
    left: 10px;
}

#paragraph {
    position: relative;
    left: 30px;
}

.btn-success {
  width: 180px;
}

.btn-info {
  width: 180px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1449247709967-d4461a6a6103?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=");
    overflow-x: hidden;
}

.navbar-brand {
    width: auto;
    height: auto;
}