<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit <%= quote.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/quotes/<%= quote._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="quote[name]" value="<%= quote.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="quote[price]" value="<%= quote.price %>" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="quote[imageUrl]" value="<%= quote.imageUrl %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="quote[description]" value="<%= quote.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/quotes">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

