<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>OneMore.Today</h1>
             <p>Quoting experience made personalized, efficient and convenient</p>
             <p>
                <a class="btn btn-primary btn-large" href="/quotes/new">Add New Quote</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% quotes.forEach(function(quote){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= quote.imageUrl %>">
                   <div class="caption">
                       <h4><%= quote.name %></h4>
                   </div>
                   <p>
                       <a href="/quotes/<%= quote._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
