<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Quote</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/quotes" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="imageUrl" placeholder="image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="webUrl" placeholder="website link">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/quotes">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

